In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('http://bit.ly/kaggletrain')

In [5]:
df.shape

(891, 12)

In [6]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [7]:
df = df.loc[df.Embarked.notna(), ['Survived', 'Pclass', 'Sex', 'Embarked']]

In [8]:
df.shape

(889, 4)

In [10]:
df.isna().sum()

Survived    0
Pclass      0
Sex         0
Embarked    0
dtype: int64

In [11]:
df.head()

   Survived  Pclass     Sex Embarked
0         0       3    male        S
1         1       1  female        C
2         1       3  female        S
3         1       1  female        S
4         0       3    male        S

In [13]:
X = df.loc[:, ['Pclass']]

In [14]:
y = df.Survived

In [15]:
X.shape

(889, 1)

In [16]:
y.shape

(889,)

In [17]:
from sklearn.linear_model import LogisticRegression

In [18]:
logreg = LogisticRegression(solver='lbfgs')

In [19]:
from sklearn.model_selection import cross_val_score

In [22]:
# mean of the five folds of cross validation
cross_val_score(logreg, X, y, cv=5, scoring='accuracy').mean()

0.6783406335301212

In [23]:
# check the null accuracy (accuracy by predicting most frequent class)
y.value_counts(normalize=True)

0    0.617548
1    0.382452
Name: Survived, dtype: float64

In [24]:
# Pandas calls the next step dummy encoding
# Sklearn calls it OneHotEncoder

from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(sparse=False)

In [25]:
ohe.fit_transform(df[['Sex']])

array([[0., 1.],
       [1., 0.],
       [1., 0.],
       ...,
       [1., 0.],
       [0., 1.],
       [0., 1.]])

In [26]:
ohe.fit_transform(df[['Embarked']])

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       ...,
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.]])

In [27]:
X = df.drop('Survived', axis='columns')

In [28]:
X.head()

   Pclass     Sex Embarked
0       3    male        S
1       1  female        C
2       3  female        S
3       1  female        S
4       3    male        S

We use column_transformer any time you have features in the df that need different preproccessing (i.e. Sex and Embarked need OneHotEncoding, but we are leaving Pclass alone)

In [29]:
from sklearn.compose import make_column_transformer

In [31]:
column_trans = make_column_transformer(
    (OneHotEncoder(),['Sex', 'Embarked']),
    remainder='passthrough')

In [32]:
column_trans.fit_transform(X)

array([[0., 1., 0., 0., 1., 3.],
       [1., 0., 1., 0., 0., 1.],
       [1., 0., 0., 0., 1., 3.],
       ...,
       [1., 0., 0., 0., 1., 3.],
       [0., 1., 1., 0., 0., 1.],
       [0., 1., 0., 1., 0., 3.]])

In [33]:
# Above, cols 1-2 are Sex
# cols 3-5 are Embarked
# col 6 is Pclass

In [34]:
from sklearn.pipeline import make_pipeline

In [35]:
pipe = make_pipeline(column_trans, logreg)

# Make a pipeline of the column transformer and logistic regression model
# Takes data and transforms the columns (preprocessing), then applies model

In [36]:
# Here I am cross validating my entire pipeline (not just a model)
# includes preprocessing and model building
cross_val_score(pipe, X, y, cv=5, scoring='accuracy').mean()

0.7727924839713071

In [37]:
X_new = X.sample(5, random_state=99)
X_new

     Pclass     Sex Embarked
599       1    male        C
512       1    male        S
273       1    male        C
215       1  female        C
790       3    male        Q

In [38]:
pipe.fit(X,y)

Pipeline(memory=None,
         steps=[('columntransformer',
                 ColumnTransformer(n_jobs=None, remainder='passthrough',
                                   sparse_threshold=0.3,
                                   transformer_weights=None,
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories='auto',
                                                                drop=None,
                                                                dtype=<class 'numpy.float64'>,
                                                                handle_unknown='error',
                                                                sparse=True),
                                                  ['Sex', 'Embarked'])],
                                   verbose=False)),
                ('logisticregression',
                 LogisticRegression(C=1.0, class_weight=None, dual=False,
                                    fit_intercept=True, intercept_scaling=1,
                                    l1_ratio=None, max_iter=100,
                                    multi_class='auto', n_jobs=None,
                                    penalty='l2', random_state=None,
                                    solver='lbfgs', tol=0.0001, verbose=0,
                                    warm_start=False))],
         verbose=False)

In [39]:
pipe.predict(X_new)

array([1, 0, 1, 1, 0])

In [40]:
# ABOVE
# pipe.fit() is like model.fit except that it runs the preprocessing as well as the model fitting
# pipe.predict(X_new) only works because pipe.fit() has already done the preprocessing and fitting